*.class

# Package Files #
*.jar
*.war
*.ear
/proyecto/nbproject/private/
/proyecto/build/
/UMSS_automaticos4/build/
/UMSS_automaticos4/nbproject/private/
/UMSS_automaticos/build/
/UMSS_automaticos/nbproject/private/